<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
</head>
<body>
    <div id=app>
        <form @submit.prevent='addNewTodo'>
            <label for="">Add a todo</label>
            <input type="text" v-model='newTodo' >
            <button>Add</button>
            <li
                is=myList
                v-for='(todo,index) in todos'
                :title=todo.title
                :key=todo.id
                v-on:remove="todos.splice(index, 1)"
            >
            </li>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('myList',{
            props:["title"],
            template:`
                <li>
                    {{title}}
                    <button v-on:click="$emit('remove')">Remove</button>
                </li>
               
            `,
        })
        var vm=new Vue({
            el:'#app',
            data:{
                newTodo:'',
                todos:[
                    {id:0,title:'working'},
                    {id:1,title:'eating'},
                    {id:2,title:'playing'},
                ],
                nextTodoId:4
            },
            methods:{
                addNewTodo(){
                    this.todos.push({
                        id:this.nextTodoId,title:this.newTodo
                    })
                    this.nextTodoId++
                    this.newTodo=''
                }
            }
        })
    </script>
</body>
</html>